@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #09090b;
  /* zinc-950 */
  --foreground: #fafafa;
  /* zinc-50 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
}