@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F3F4EF;
  /* Light Theme Background */
  --foreground: #333333;
  /* Main Text */
  --foreground-secondary: #868686;
  /* Secondary Text */
}

body {
  color: #333333;
  background: #F3F4EF;
  font-family: var(--font-sans), sans-serif;
}